export LOGGLY_TOKEN={Your value here}

export FULL_CONTACT_API_ENDPOINT={Your value here}
export FULL_CONTACT_API_KEY={Your value here}
export PYSTK_API_URL={Your value here}
export API_ENVIRONMENT={Your value here}

# New values [ Watchtower ]
export PAYSTACK_API_URL={Your value here}
export MANUAL_SETTLEMENT_URL={Your value here}
export AUTO_SETTLEMENT_URL={Your value here}


export JWT_SECRET={Your value here}
export RDS_DATABASE_NAME={Your value here}
export LOGGLY_TOKEN={Your value here}
export RDS_USER={Your value here}
export MANDRILL_API_KEY={Your value here}
export TOKEN_EXPIRY={Your value here}
export BASE_DASHBOARD_URL={Your value here}
export RDS_HOST_MASTER={Your value here}
export RDS_HOST_SLAVE={Your value here}
export RDS_PASSWORD={Your value here}
export FULL_CONTACT_API_ENDPOINT={Your value here}
export FULL_CONTACT_API_KEY={Your value here}
export EASY_CRON_API_KEY={Your value here}
export API_BASE_URL={Your value here}
export LEGACY_API_ENDPOINT={Your value here}
export CARD_KEY={Your value here}
export AURIC_SECRET={Your value here}#z%4Qmz561upU4_K_Wk2njlF2ek_Qn3
export AURIC_MTID={Your value here}
export AURIC_CONFIGURATION_ID={Your value here}
export AURIC_RETENTION={Your value here}
export AURIC_SEGMENT={Your value here}
export AURIC_ENDPOINT={Your value here}
export CLOUDFLARE_AUTH_KEY={Your value here}
export CLOUDFLARE_AUTH_EMAIL={Your value here}@paystack.co
export CLOUDFLARE_PAYSTACKCO_ZONE_ID={Your value here}
export CLOUDFLARE_API_ENDPOINT={Your value here}
export CHECKOUT_SECRET_KEY={Your value here}_test_4f1f182f-8878-4be1-8d75-eb33d5a093d6
export IP_API_ENDPOINT={Your value here}
export IP_API_KEY={Your value here}
export TWILIO_SID={Your value here}
export TWILIO_TOKEN={Your value here}
export TRANSFERS_INTEGRATION={Your value here}
export REDIS_CLUSTER_IP={Your value here}
export REDIS_CLUSTER_IP={Your value here}
export DMOBILI_EMAIL={Your value here}@paystack.com
export DMOBILI_PASSWORD={Your value here}
export DMOBILI_ENDPOINT={Your value here}
export BASE_WEBSITE_URL={Your value here}
export TITAN_API_ENDPOINT={Your value here}
export TITAN_API_KEY={Your value here}
export ES_PROTOCOL={Your value here}
export ES_USERNAME={Your value here}
export ES_PASSWORD={Your value here}
export ES_HOST={Your value here}
export ES_PORT={Your value here}
export AWS_S3_BUCKET={Your value here}
export MONGODB_CLUSTER={Your value here}_dev
export MONGODB_NAME={Your value here}_dev
export PERSONAL_TOKEN={Your value here}